.bash_history
.gitconfig
.gradle/
.lesshst
.m2/
.vscode/
AppData/
Contacts/
Downloads/
Favorites/
IdeaProjects/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{1a4169cc-fa6a-11ef-b771-9060b0dff676}.TM.blf
NTUSER.DAT{1a4169cc-fa6a-11ef-b771-9060b0dff676}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{1a4169cc-fa6a-11ef-b771-9060b0dff676}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Saved Games/
Searches/
Videos/
gitgnore
github-demo/
gitignore
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
repository_name/
sample/
test2.md
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
スタート メニュー